.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .column {
    float: left;
  }
  
  .left {
    width: 15%;
  }
  
  .right {
    width: 85%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }